:root {
    --text: #040316;
    --background: #FCFCFC;
    --primary: #1cc0e9;
    --secondary: #b7d3c1;
    --negative: #d1694f;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
    background-color: var(--background);
}

p {
    font-size: 18px;
}

.heading {
    font-size: 32px;
}

.primary-link-button {
    display: inline-block;
    border: none;
    background-color: var(--primary);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.primary-link-button:hover {
    background-color: rgb(70, 200, 230);
}

.primary-link-button:active {
    background-color: rgb(90, 220, 250);
}

.secondary-link-button {
    display: inline-block;
    background-color: var(--secondary);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.secondary-link-button:hover {
    background-color: rgb(200, 220, 210);
}

.secondary-link-button:active {
    background-color: rgb(220, 240, 230);
}

.negative-link-button {
    display: inline-block;
    border: none;
    background-color: var(--negative);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
}

.negative-link-button:hover {
    background-color: rgb(220, 118, 100);
}

.negative-link-button:active {
    background-color: rgb(240, 144, 120);
}

.logged-in-nav {
    display: flex;
    align-items: center;

    gap: 20px;
}

.logged-in-nav > * {
    margin: 0px;
}

.session-card {
    padding-bottom: 10px;
}

.session-card > * {
    margin: 0px;
}

.session-card-content {
    padding-left: 10px;
}

.session-card-content > * {
    margin: 0px;
}

.todays-session {
    border-style: solid;
    text-align: center;
}