{% extends "base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    {% if last_session.is_today %}
      <a href="{{ last_session.get_absolute_url }}" class="primary-link-button">Today's Workout</a>
    {% else %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="primary-link-button">New Session</button>
      </form>
    {% endif %}
    
    <h2>Workout Sessions</h2>
    
    {% for session in session_list reversed %}
      {% if session.user.pk == request.user.pk %}
        <div class="session-card {% if session.is_today %}todays-session{% endif %}">
          {% if session.is_today %}
            <h2>Today's Workout</h2>
          {% endif %}
          <h3><a href="{{ session.get_absolute_url }}">{{ session.date }}</a></h3>
          <div class="session-card-content">  
            {% for workout in session.workout_set.all %}
            <p>{{ workout.exercise.name }}: {{ workout.get_working_weight }} - {{ workout.get_sets }}</p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}