{% extends "base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    {% if last_session.is_today %}
      <a href="{{ last_session.get_absolute_url }}">Today's Workout</a>
    {% else %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">New Session</button>
      </form>
    {% endif %}
    
    <h2>Workout Sessions</h2>
    
    {% for session in session_list reversed %}
      {% if session.user.pk == request.user.pk %}
        <a href="{{ session.get_absolute_url }}"><h3>{{ session.date }}</h3></a>
        {% for workout in session.workout_set.all %}
          <p>{{ workout.exercise }}: {{ workout.get_working_weight }} - {{ workout.get_sets }}</p>
        {% endfor %}
        <p>{{ session.notes }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}