{% extends "base.html" %}

{% block content %}

  <h2>Notes</h2>
  {% if session.notes %}
    <p style="white-space: pre;">{{ session.notes }}</p>
  {% endif %}

  <a href="{% url 'session_edit' session.pk %}">Edit Notes</a>


  <br><br>

  <form action="" method="post">
    {% csrf_token %}
    {{ workout_new_form }}
    <button type="submit">Save</button>
  </form>

  <p>{{ session.date }}</p>
  {% for workout in session.workout_set.all %}
    <div>
      <h3>{{ workout.exercise }}</h3>
      <h4>{{ workout.get_weight }}</h4>
      <h4>Previous Weight: {{ workout.get_previous_weight }}</h4>
      <p><b>Sets:</b></p>
      {% for set in workout.set_set.all %}
        <div>
          <p>1x{{ set.reps }} <a href="{% url 'set_edit' set.pk %}">Edit Set</a> | 
            <a href="{% url 'set_delete' set.pk %}">Delete Set</a></p>
        </div>
      {% endfor %}
      <a href="{% url 'set_new' workout.pk %}">New Set</a>
      <br><br>
      <a href="{% url 'workout_edit' workout.pk %}">Edit</a> | 
      <a href="{% url 'workout_delete' workout.pk %}">Delete</a>
    </div>
  {% endfor %}

  <br>

  <a href="{% url 'session_delete' session.pk %}">Delete Session</a>

{% endblock %}