{% extends "base.html" %}

{% block content %}

  <h2>Notes</h2>
  {% if session.notes %}
    <p style="white-space: pre;">{{ session.notes }}</p>
  {% endif %}

  <a href="{% url 'session_edit' session.pk %}">Edit Notes</a>


  <br><br>

  <form action="" method="post">
    {% csrf_token %}
    {{ workout_new_form }}

    {% for exercise in exercises %}
      <div id="exercise_{{ exercise.id }}_div" class="exercise_id_div" style="display: None;">
        <p>Previous Weight: {{ exercise.get_latest_working_weight }}</p>
        <p>Previous Sets: {{ exercise.get_latest_sets }}</p>
        <p>{{ exercise.get_latest_workout_choices }}</p>
      </div>
    {% endfor %}

    <button type="submit">Save</button>
  </form>

  <p>{{ session.date }}</p>
  {% for workout in session.workout_set.all %}
    <div>
      <h3><a href="{% url 'workout_edit' workout.pk %}">{{ workout.exercise.name }} - {{ workout.get_working_weight }} - {{ workout.get_sets }}</a></h3>
    </div>
  {% endfor %}

  <a href="{% url 'session_delete' session.pk %}">Delete Session</a>


  <script>
    const exercise_selector = document.getElementById("id_exercise");
    const exercise_divs = document.querySelectorAll(".exercise_id_div");
    exercise_selector.addEventListener("input", (e) => {
      const curr_exercise_div = document.getElementById(`exercise_${e.target.value}_div`);
      for(const exercise_div of exercise_divs){
        exercise_div.style.display = "None";
      }
      curr_exercise_div.style.display = "block";
    });
  </script>

{% endblock %}