{% extends "base.html" %}

{% block content %}

  <h2>Notes</h2>
  {% if session.notes %}
    <p style="white-space: pre;">{{ session.notes }}</p>
  {% endif %}

  <a href="{% url 'session_edit' session.pk %}">Edit Notes</a>


  <br><br>

  <form action="" method="post">
    {% csrf_token %}
    {{ workout_new_form }}
    <button type="submit">Save</button>
  </form>

  <p>{{ session.date }}</p>
  {% for workout in session.workout_set.all %}
    <div>
      <h3><a href="{% url 'workout_detail' workout.pk %}">{{ workout.exercise }}</a></h3>
      <h4>Current Working Weight: {{ workout.get_weight }}</h4>
      <h4>Previous Working Weight: {{ workout.get_previous_weight }}</h4>
      <p>Sets: {{ workout.get_sets }}</p>
    </div>
  {% endfor %}

  <br>

  <a href="{% url 'session_delete' session.pk %}">Delete Session</a>

{% endblock %}