{% extends "base.html" %}

{% block content %}

  <h2><a href="{% url 'session_detail' workout.session.pk %}">{{workout.session.date }}</a>: {{ workout.exercise }} {{ workout.get_working_weight }} - {{ workout.get_sets }}</h2>

  <a href="{% url 'workout_edit' workout.pk %}">Edit</a> | 
  <a href="{% url 'workout_delete' workout.pk %}">Delete</a>

  {% if workout.get_previous_workout %}
    <h4>Previous Workout: {{ workout.get_previous_workout.get_working_weight }} - {{ workout.get_previous_workout.get_sets }}</h4>
  {% else %}
    <h4>No Previous Workout</h4>
  {% endif %}
  
  <h3>Sets:</h3>
  {% for set in workout.set_set.all %}
    <div>
      <p>
        1x{{ set.reps }} 
        <a href="{% url 'set_edit' set.pk %}">Edit Set</a> | 
        <a href="{% url 'set_delete' set.pk %}">Delete Set</a>
      </p>
    </div>
  {% endfor %}
  
  <a href="{% url 'set_new' workout.pk %}">New Set</a>

{% endblock %}